/* header */
@font-face {
    font-family: "GOST type A";
    src: url("../font/GOST_A.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.div_logo{
    float: left;
}
.div_mh{
    padding:10px 0 0 0;
}

.company_name{
    font-family: "GOST type A";
    font-style: italic;
    font-size: 30px;
    color: white;
    padding-left: 10px;
    font-weight: 600;
}

.middle_header{
    font-size: 12px;
    color: white;
    float: left;
    margin-left: 90px;
    margin-top: -30px;
}

.cn_color{
    color: #254a93!important;

}
/* end_header */

/*First slider main page*/
.slider-img-div{
    display: flex;
    height: 100%;
    width: 50%;
    flex-wrap: wrap;
}

.slider-img{
    width: 50%;
}
.slider-img1{
    background: url(../storage/images/slider1/protvini.jpg) no-repeat 50% 1%/cover;
}
.slider-img2{
    background: url(../storage/images/slider2/lopatka_modulnaya2.jpg) no-repeat 50% 1%/cover;
}
.slider-img3{
    background: url(../storage/images/slider3/gib2.jpg) no-repeat 50% 1%/cover;
}
.slider-img4{
    background: url(../storage/images/slider4/defrost2.jpg) no-repeat 50% 1%/cover;
}

.sl-container{
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.sl-card{
    max-width: 300px;
    min-height: 300px;
    margin: 5px 5px;

}
.sl-img-fluid{
    max-width: 200px;
}

/* end First slider main page */

/* about */
.slider_about{
    margin-bottom:100px; ;
}
/* about end */

/* contacts */
.map{
    margin:0 auto;
    max-width: 660px;
    width: 100%;
    height: 500px;

}

.contacts a{
    color: #424242;
}

/* end contacts */

/*Gallery*/
.h_cat{
    font-size: unset!important;
}
.rcenter{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.new_size{
    min-width: 300px;
}
/*end Gallery*/

/*form*/
.is_invalid{
    outline: 2px solid #dc3545;
}

.invalid_feedback{
    color: #dc3545;
    font-size: 12px;
}
.success_feedback{
    color: #155724;
    font-size: 15px;
}
/*form end*/

@media (max-width: 1340px) {
    .slider_section .slider_box .slider-detail .slider_detail-heading h1 {
        font-weight: 700;
        font-size: 35px;
        text-transform: uppercase;
    }
}
@media (max-width: 1156px) {
    .slider_section .slider_box .slider-detail .slider_detail-heading h1 {
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
    }
}

@media (max-width: 1156px) {
    .slider_section .slider_box .slider-detail .slider_detail-heading h1 {
        font-weight: 700;
        font-size: 25px;
        text-transform: uppercase;
    }
}

@media (max-width: 837px) {
    .slider_section .slider_box .slider-detail .slider_detail-heading h1 {
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
    }
    .slider_section .slider_box .slider-detail {

        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 685px) {
    .slider_section .slider_box .slider-detail {

        width: 40%;
        margin-top: 14%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 685px) {
    .slider_section .slider_box .slider-detail {
        width: 50%;
        margin-top: 14%;

    }
}

@media (max-width: 575px) {
    .slider_section .slider_box .slider-detail {

        width: 50%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50%;
    }
}

@media (max-width: 500px) {
    .slider-img-div{
        display: none;
    }

}
@media (max-height: 393px) {
    .slider_section .slider_box .slider-detail {
        width: 40%;
        margin-top: 7%;
    }
    .slider_section .slider_box .fixed_company-detail p{
        font-size: 15px;
    }


}

@media(max-width: 740px) {
    .slider_section .carousel-indicators{
        top: 95%;
        left: 25%;
        display: flex;
        justify-content: space-between;
        width: 100px;
        align-items: center;
    }
}
@media(max-width: 390px) {
    .logo_box img{
        width: 80%;
    }

    .middle_header {
        font-size: 10px;
        margin-left: 80px;
        margin-top: -20px;
    }
    .company_name {
        font-size: 28px;
        padding: unset;
    }
}
